*,*:before{
    padding: 0;
    margin: 0;
}

img{
    width: 100%;
}

.container{
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}
/*-------Nav---------*/
.logo img{
    height: 2rem;
}
nav{
    display: flex;
    justify-content: space-between;
}