@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,800;1,600&display=swap');
*,*:before{
    padding: 0;
    margin: 0;
}
body{
    font-family: 'Open Sans', sans-serif;
}
img{
    width: 100%;
    display: block;
}
h2{
    font-size: 2rem;
}
a{
    text-decoration: none;
}
a, p{
    font-size: 1.2rem;
    color: rgb(32, 32, 32);    
}
.btn{
    background-color: #000;
    color: #fff;
    border: none;
    padding: 1rem 1rem;
    font-size: 1.3rem;
    border-radius:0.4rem;
    -webkit-border-radius:0.4rem;
    -moz-border-radius:0.4rem;
    -ms-border-radius:0.4rem;
    -o-border-radius:0.4rem;
    cursor: pointer;
}
.btn span{
    color: rgb(199, 199, 199);    
}
.container{
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}
/*-------Header---------*/
header{
    background-image: url(../img/Background.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
.logo img{
    height: 2rem;
}
nav{
    display: flex;
    justify-content: space-between;
    padding: 2rem 0;
}
.search img{
    width: 1.2rem;
}
.search a{
    padding: 01rem;
}
.search{
    display: flex;
    align-items: center;
}
.main{
    text-align: center;
    padding: 4rem 0;
}
.main h1{
    font-size: 4rem;
    font-weight: bold;
}
.main button{
    margin: 1rem 0;
}

/*Custom*/
.customizable{
    display: flex;
    flex-direction: column-reverse;
}
.image img{
    max-width: 370px;
    margin: 0 auto;
    padding:2rem 0 ;
}
@media (min-width: 992px) {
    .customizable{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 2rem;
    align-items: center;
    }
    .content{
        grid-column: 1 / 3;
        grid-row: 1;
    }
}
/*Footer*/
.footer{
    display: flex;
    justify-content: space-between;
    padding: 4rem 0;
}